@import url("https://unicons.iconscout.com/release/v4.0.0/css/line.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*===== VARIABLES CSS =====*/
/*===== Colors =====*/
/*Purple 260 - Red 355 - Blue 224 - Pink 340*/
/* HSL color mode */
/*===== Font and Typography =====*/
/*===== Font Weight =====*/
/*===== Margin Bottom =====*/
/*===== z index =====*/
:root {
  --header-height: 5rem;
  --font-semi: 600;
  /*===== Colors =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  --hue-color: 200;
  --first-color: hsl(200, 69%, 61%);
  --first-color-second: hsl(200, 69%, 61%);
  --first-color-alt: hsl(200, 57%, 53%);
  --first-color-lighter: hsl(200, 92%, 85%);
  --title-color: hsl(200, 8%, 15%);
  --text-color: hsl(200, 8%, 45%);
  --input-color: hsl(200, 70%, 96%);
  --body-color: hsl(200, 60%, 99%);
  --container-color: #fff;
  --scroll-bar-color: hsl(200, 12%, 90%);
  --scroll-thumb-color: hsl(200, 12%, 80%);
  /*===== Font and Typography =====*/
  --body-font: Poppins, sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  /*===== Font Weight =====*/
  --font-medium: 500;
  --font-semi-bold: font-semi-bold;
  /*===== Margin Bottom =====*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  /*===== z index =====*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*===== Variable Dark Themes =====*/
body.dark-theme {
  /* HSL color mode */
  --first-color-second: hsl(200, 30%, 8%);
  --title-color: hsl(200, 8%, 95%);
  --text-color: hsl(200, 8%, 75%);
  --input-color: hsl(200, 29%, 16%);
  --body-color: hsl(200, 28%, 12%);
  --container-color: hsl(200, 29%, 16%);
  --scroll-bar-color: hsl(200, 12%, 48%);
  --scroll-thumb-color: hsl(200, 12%, 36%);
}

/*===== Qualification =====*/
.qualification__tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
.qualification__button {
  font-size: 1.125rem;
  font-weight: 500;
  cursor: pointer;
}
.qualification__button:hover {
  color: hsl(200, 69%, 61%);
}
.qualification__icon {
  font-size: 1.8rem;
  margin-right: 0.25rem;
}
.qualification__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.qualification__title {
  font-size: 0.938rem;
  font-weight: 500;
}
.qualification__subtitle {
  display: inline-block;
  font-size: 0.813rem;
  margin-bottom: 1rem;
}
.qualification__calender {
  font-size: 0.813rem;
  color: hsl(200, 8%, 45%);
}
.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: hsl(200, 57%, 53%);
  border-radius: 50%;
}
.qualification__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: hsl(200, 69%, 61%);
  transform: translate(6px, -7px);
}
.qualification [data-content] {
  display: none;
}
.qualification__active[data-content] {
  display: block;
}
.qualification__button.qualification__active {
  color: hsl(200, 69%, 61%);
}/*# sourceMappingURL=Qualification.css.map */