@import "./Variables/Variables.scss";

/*===== NAV =====*/
.nav{
    max-width: 968px;
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: $font-semi;
    &__logo, &__toggle{
        color: var(--title-color);
        font-weight: $font-medium;
        &:hover{
            color:var(--first-color)
        }
    }
    &__toggle{
        font-size: 1.1rem;
        cursor: pointer;
    }

    &__menu{
        @media screen and (max-width: 767px){
            position: fixed;
            bottom: -100%;
            left: 0;
            width: 100%;
            padding: 2rem 1.5rem 4rem;
            background-color: var(--body-color);
            box-shadow: 0 -1px 4px rgba(0,0,0,.15);
            border-radius: 1.5rem 1.5rem 0;
            transition: .3s;
        }
    }
    &__list{
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
    }
    &__link{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: $small-font-size;
        color: var(--title-color);
        font-weight: $font-medium;
        &:hover{
            color: var(--first-color);
        }
    }
    &__icon{
        font-size: 1.2rem;
    }

    &__close{
        position: absolute;
        right: 1.33rem;
        bottom: .5rem;
        font-size: 1.5rem;
        cursor: pointer;
        &:hover{
            color: var(--first-color);
        }
    }
    
}
/*Active menu*/
.active::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

/*=== Show menu ===*/
.show-menu{
    bottom: 0;
}

.active-link{
    color: var(--first-color);
}

.scroll-header{
    box-shadow: 0 -1px 4px rgba(0,0,0,.15);
}